html, body {

  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background: #3e3e3e;
  overflow: hidden;

}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#app {

  width: 100%;
  height:100%;
}

[v-cloak]{
  display: none;
}

#text {

 width:100%;
 height:100%;
 background:#3e3e3e;
 color:#eee;
 font-size:15px;
 border:none;
 padding:5px;

}
#text:focus {
   outline:none;
}

::-webkit-scrollbar {
   width:0.50em;
}

::-webkit-scrollbar-track {
     background:#3e3e3e;
}

::-webkit-scrollbar-thumb {
  background: #ffffffff;
  border-radius:100vw;
}